
<div class="container" style="opacity: 0.9;">
    @if(@ViewBag.FriendRequests == null)
    {
        <p>You don't have any friend requests at the moment. Have a nice day! :)</p>
    }
    else
    {
        <ul style="list-style:none">
            @foreach(FacePalm.Models.User fr in ViewBag.FriendRequests)
            {
            <li class="list-group-item">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div id="@fr.UserId" class="card">
                        <div class="card-body text-center text-capitalize">
                            @if (string.IsNullOrEmpty(fr.ImagePath))
                            {
                                <img class="rounded-circle img-fluid" style="width: 80px; height: 80px; border:1px solid 	#78C1AD" src="~/Images/profilePictureDefault.png" />
                            }
                            else
                            {
                                <img class="rounded-circle img-fluid" style="width: 80px; height: 80px; border:1px solid 	#78C1AD" src="@Url.Content(fr.ImagePath)">
                            }
                            <p class="card-title">@Html.ActionLink(fr.FirstName + " " + fr.LastName, "Show", "User", new { @id = fr.UserId }, null)</p>
                        </div>
                        <button class="acceptFriendRequest btn btn-success" title="" data-original-title="Accept">Accept</button>
                        <button class="declineFriendRequest btn btn-danger" title="" data-original-title="Decline">Decline</button>
                    </div><!-- /col-sm-12 -->
                </div>
               
            </li>
            }

        </ul>
    }
</div>

<script type="text/javascript">

   $(document).ready(function() {
       $(".acceptFriendRequest").click(function(event) {
           event.stopPropagation();
           event.stopImmediatePropagation();

           var friendRequestData = {
               FromUserId: $(this).parent().attr('id'),
               ToUserId: '@ViewBag.CurrentUser'
           };
           var buttonToHide = $(this);
           var nextButtonToHide = buttonToHide.next();
           $.ajax({
               type: 'POST',
               dataType: 'json',
               data: JSON.stringify({ "friendRequestData": friendRequestData }),
               url: '/User/AcceptFriendRequest',
               cache: false,
               contentType: 'application/json; charset=utf-8',
               success: function (serverAnswer) {
                   if (serverAnswer.success) {
                       //do something, remove button, add label "Friend request already sent"

                       buttonToHide.hide();
                       nextButtonToHide.hide();
                       
                   }
                   else
                   {
                       alert("The request couldn't be processed, please try again :(")
                   }
               },
               error: function () {
                   alert("There is something bad.");
               }
           });

        });
    });

    $(document).ready(function() {
       $(".declineFriendRequest").click(function(event) {
           event.stopPropagation();
           event.stopImmediatePropagation();
           $.ajax({
               type: 'POST',
               dataType: 'json',
               cache: false,
               contentType: 'application/json; charset=utf-8',
               success: function (serverAnswer) {
                   if (serverAnswer.success) {
                       $(this).hide();
                       $(this).prev().hide();
                   }
                   else
                   {
                       alert("The request couldn't be processed, please try again :(")
                   }
               },
               error: function () {
                   alert("error");
               }
           });

        });
    });

</script>