 ViewBag.Title = "New";
}
<h2>Creare user</h2>
<p>Afisare formular de adaugare user</p>
<form method="post" action="/User/New">
    <label>preNume</label>
    <br />
    <input type="text" name="FirstName" />
    <br /><br />
    <label>Nume</label>
    <br />
    <input type="text" name="LastName" />
    <br /><br />
    <label>Adresa e-mail</label>
    <br />
    <input type="text" name="Email" />
    <br /><br />
    
    <button type="submit">Adauga student</button>
</form>