@model FacePalm.Models.Comment

<div class="list-group-item list-group-item-action" style="background-color:aliceblue">
    <div class="row media" style="justify-content:space-between">
        <div class="media-left">
            <img src="~/Images/profilePictureDefault.png" class="rounded-circle img-responsive" style="width: 60px; height: 60px; border:1px solid 	#78C1AD">
        </div>
        <div class="media-body">
            <h5 class="media-heading"><a href="/User/Show/@Model.User.UserId">@Model.User.FirstName @Model.User.LastName</a></h5>
            <p class="text-muted" style="font-size:0.7rem">on @Html.DisplayFor(model => model.Date)</p>
        </div>
    </div><!-- /col-sm-12 -->
    <div class="row" style="justify-content:flex-start; align-content:flex-start">
            <div style="align-self: auto; flex-grow:1">
                    @Html.DisplayFor(model => model.Content)
            </div><!-- /panel panel-default -->
    </div><!-- /row -->
</div><!-- /container -->