@{
    @ViewBag.Title = "Home Page";
}

<div class="jumbotron" width ="90%">
    @if(!string.IsNullOrEmpty(ViewBag.Message))
    {
    <h2>@ViewBag.Message</h2>
    }
    <h1>FACEPALM</h1>
    <p class="lead">Welcome to FacePalm! Your online place to relax under a palm tree!</p>
    <img src="https://ae01.alicdn.com/kf/HTB14JP_lwoQMeJjy0Fpq6ATxpXaF/Seascape-vinyl-cloth-seaside-blue-sky-palm-tree-photography-backdrops-for-wedding-children-photo-studio-portrait.jpg"/>
</div>